################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# ignore extensions
*.db
*.suo
*.sqlite

#ignore files
/Documents/Solution_Architecture/Training_Data/PatientInfo.csv
*/auth.json

# Visual Studio 2015 cache/options directory
*.vs/*

# Build Artifacts
*obj/
*bin/
/Deployment/CHSE Healthcare Blueprint/.vs/CHSE Healthcare Blueprint/v15/sqlite3/storage.ide

# Authentication files
auth.json
/packages
/drop

#Folders
Deployment/output/
Deployment/ARM-Deployment/output/
Deployment/repository/
Deployment/How-To-Run.ps1
Deployment/ARM-Deployment.deployproj.user
/Deployment/ARM-Deployment/scripts/sqlscripts/patientdb_schema.sql
/Deployment/ARM-Deployment/scripts/sqlscripts/patientdb_seed.sql
/Platform/HIPAA.Platform.Ingestion/Properties/PublishProfiles/sh-learn-fapp-dev - Web Deploy.pubxml
/Platform/HIPAA.Platform.Ingestion/Properties/PublishProfiles/sf-learn-fapp-dev - Web Deploy.pubxml
/Platform/HIPAA.Platform.Ingestion/Properties/PublishProfiles/sf-learn-fapp-dev - Web Deploy1.pubxml
